@media (max-width: 425px) {
    .imagen-especialista {
        display: none;
    }
    table {
        min-width: 100%;
    }

    .topo-especialista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
} 

@media (min-width: 425px) and (max-width: 768px) {
    .imagen-especialista {
        display: none;
    }
    table {
        min-width: 100%;
    }
}